<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        bootstrap="./vendor/autoload.php"
        color="blue"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailures="false">
    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
    </whitelist>
    </filter>
    <testsuite name="PHP7 MongoDb Adapter tests">
        <directory>./tests/</directory>
    </testsuite>
</phpunit>